@charset "UTF-8";

html, body {
    height: 100%;
    width: 100%;
    background-color: #A93226;
    color: black;
    margin: 0%;
}
    
.header {
    background: orange;
    height: 90px;
    padding: 25px 50px;
}

#kolom2 {
    background-color: pink;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 750px;
    width: 456px;    
}

.post {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 450px;
    border: 3px solid white;
}

h2 a {
    color: orange;
}

.title {
    margin: 5px 0px;
}

.date {
    margin: 0;
}

.text {
    margin: 0;
    margin-bottom: 10px;
}

.footer {
    background: orange;
    height: 90px;
}